* {
  box-sizing: border-box;
}
.container {
         padding: 16px;
}

input[type=text],input[type=password] {
    width: 200;
    padding:15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: cornsilk;
}
input[type=text]:focus,input[input=password]:focus {
    background: #ddd;
    outline: none;
}
hr {
    border:1px solid black;
    margin-bottom: 25px;
}
.registerbtn {
    background: blue;
    color: white;
    padding: 20px;
    margin: 8px;
    display: inline-block;
    border: none;
    cursor: pointer;
    width: 100;
    opacity: 1;
}
.registerbtn:hover {
    opacity: 0.6;
}
.a {
    color: dodgerblue;
}
.signin {
    background: rgb(214, 210, 212);
    text-align: center;
}